<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Running Planner</title>
    </head>
    <body>
        <h1>Running Planner</h1>
        <hr/>


        {% if user.is_authenticated %}
        {% block content %}{% endblock %}

        <form id="logout-form" method="post" action="{% url 'runs:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
        {% else %}
        <li><a href="{% url 'runs:login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
    </body>
</html>